/*
! tailwindcss v3.0.18 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/

html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  /* 3 */
  tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/*
Ensure the default browser behavior of the `hidden` attribute.
*/

[hidden] {
  display: none;
}

:root {
  background-color: hsla(var(--b1) / var(--tw-bg-opacity,1));
  color: hsla(var(--bc) / var(--tw-text-opacity,1));
}

html {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --p: 259 94.4% 51.2%;
  --pf: 259 94.3% 41%;
  --pc: 0 0% 100%;
  --s: 314 100% 47.1%;
  --sf: 314 100% 37.1%;
  --sc: 0 0% 100%;
  --a: 174 60% 51%;
  --af: 174 59.8% 41%;
  --ac: 0 0% 100%;
  --n: 219 14.1% 27.8%;
  --nf: 222 13.4% 19%;
  --nc: 0 0% 100%;
  --b1: 0 0% 100%;
  --b2: 210 20% 98%;
  --b3: 216 12.2% 83.9%;
  --bc: 215 27.9% 16.9%;
  --in: 207 89.8% 53.9%;
  --su: 174 100% 29%;
  --wa: 36 100% 50%;
  --er: 14 100% 57.1%;
  --border-color: var(--b3);
  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: .2s;
  --btn-text-case: uppercase;
  --btn-focus-scale: 0.95;
  --navbar-padding: .5rem;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --p: 259 94% 61%;
    --pf: 259 94.4% 51.2%;
    --pc: 0 0% 100%;
    --s: 314 100% 47.1%;
    --sf: 314 100% 37.1%;
    --sc: 0 0% 100%;
    --a: 174 60% 51%;
    --af: 174 59.8% 41%;
    --ac: 0 0% 100%;
    --n: 222 13.4% 19%;
    --nf: 223 13.7% 10%;
    --nc: 0 0% 100%;
    --b1: 219 14.1% 27.8%;
    --b2: 222 13.4% 19%;
    --b3: 223 13.7% 10%;
    --bc: 228 14.3% 93.1%;
    --in: 202 100% 70%;
    --su: 89 61.6% 52%;
    --wa: 54 68.8% 63.5%;
    --er: 0 100% 71.8%;
    --border-color: var(--b3);
    --rounded-box: 1rem;
    --rounded-btn: 0.5rem;
    --rounded-badge: 1.9rem;
    --animation-btn: 0.25s;
    --animation-input: .2s;
    --btn-text-case: uppercase;
    --btn-focus-scale: 0.95;
    --navbar-padding: .5rem;
    --border-btn: 1px;
    --tab-border: 1px;
    --tab-radius: 0.5rem;
  }
}

[data-theme=light] {
  --p: 259 94.4% 51.2%;
  --pf: 259 94.3% 41%;
  --pc: 0 0% 100%;
  --s: 314 100% 47.1%;
  --sf: 314 100% 37.1%;
  --sc: 0 0% 100%;
  --a: 174 60% 51%;
  --af: 174 59.8% 41%;
  --ac: 0 0% 100%;
  --n: 219 14.1% 27.8%;
  --nf: 222 13.4% 19%;
  --nc: 0 0% 100%;
  --b1: 0 0% 100%;
  --b2: 210 20% 98%;
  --b3: 216 12.2% 83.9%;
  --bc: 215 27.9% 16.9%;
  --in: 207 89.8% 53.9%;
  --su: 174 100% 29%;
  --wa: 36 100% 50%;
  --er: 14 100% 57.1%;
  --border-color: var(--b3);
  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: .2s;
  --btn-text-case: uppercase;
  --btn-focus-scale: 0.95;
  --navbar-padding: .5rem;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
}

[data-theme=dark] {
  --p: 259 94% 61%;
  --pf: 259 94.4% 51.2%;
  --pc: 0 0% 100%;
  --s: 314 100% 47.1%;
  --sf: 314 100% 37.1%;
  --sc: 0 0% 100%;
  --a: 174 60% 51%;
  --af: 174 59.8% 41%;
  --ac: 0 0% 100%;
  --n: 222 13.4% 19%;
  --nf: 223 13.7% 10%;
  --nc: 0 0% 100%;
  --b1: 219 14.1% 27.8%;
  --b2: 222 13.4% 19%;
  --b3: 223 13.7% 10%;
  --bc: 228 14.3% 93.1%;
  --in: 202 100% 70%;
  --su: 89 61.6% 52%;
  --wa: 54 68.8% 63.5%;
  --er: 0 100% 71.8%;
  --border-color: var(--b3);
  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: .2s;
  --btn-text-case: uppercase;
  --btn-focus-scale: 0.95;
  --navbar-padding: .5rem;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
}

[data-theme=cupcake] {
  --p: 183 47.4% 59%;
  --pf: 183 47.2% 49%;
  --pc: 0 0% 100%;
  --s: 338 71.4% 78%;
  --sf: 338 71.8% 68%;
  --sc: 0 0% 100%;
  --a: 39 84.1% 58%;
  --af: 39 83.7% 48%;
  --ac: 0 0% 100%;
  --n: 280 46.5% 13.9%;
  --nf: 279 46.4% 11%;
  --nc: 0 0% 100%;
  --b1: 24 33.3% 97.1%;
  --b2: 27 22% 92%;
  --b3: 22 14.3% 89%;
  --bc: 280 46.5% 13.9%;
  --in: 207 89.8% 53.9%;
  --su: 174 100% 29%;
  --wa: 36 100% 50%;
  --er: 14 100% 57.1%;
  --border-color: var(--b3);
  --rounded-box: 1rem;
  --rounded-btn: 1.9rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: .2s;
  --btn-text-case: uppercase;
  --btn-focus-scale: 0.95;
  --navbar-padding: .5rem;
  --border-btn: 1px;
  --tab-border: 2px;
  --tab-radius: .5rem;
}

[data-theme=bumblebee] {
  --p: 50 94.4% 58%;
  --pf: 50 94.3% 47.8%;
  --pc: 240 33.3% 14.1%;
  --s: 41 74.2% 52.9%;
  --sf: 41 73.6% 43.1%;
  --sc: 0 0% 100%;
  --a: 240 33.3% 14.1%;
  --af: 240 33.3% 10%;
  --ac: 0 0% 100%;
  --n: 240 33.3% 14.1%;
  --nf: 240 33.3% 10%;
  --nc: 0 0% 100%;
  --b1: 0 0% 100%;
  --b2: 0 0% 96.1%;
  --b3: 0 0% 89%;
  --bc: 0 0% 0%;
  --in: 207 89.8% 53.9%;
  --su: 174 100% 29%;
  --wa: 36 100% 50%;
  --er: 14 100% 57.1%;
  --border-color: var(--b3);
  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: .2s;
  --btn-text-case: uppercase;
  --btn-focus-scale: 0.95;
  --navbar-padding: .5rem;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
}

[data-theme=emerald] {
  --p: 141 50% 60%;
  --pf: 141 49.8% 50%;
  --pc: 210 20% 98%;
  --s: 219 96.1% 60%;
  --sf: 219 96.1% 50%;
  --sc: 210 20% 98%;
  --a: 10 81.2% 56.1%;
  --af: 10 81.2% 45.9%;
  --ac: 210 20% 98%;
  --n: 219 20.3% 25.1%;
  --nf: 220 19.5% 15.1%;
  --nc: 210 20% 98%;
  --b1: 0 0% 100%;
  --b2: 210 20% 98%;
  --b3: 0 0% 94.9%;
  --bc: 219 20.3% 25.1%;
  --in: 207 89.8% 53.9%;
  --su: 174 100% 29%;
  --wa: 36 100% 50%;
  --er: 14 100% 57.1%;
  --border-color: var(--b3);
  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0;
  --animation-input: 0;
  --btn-text-case: uppercase;
  --btn-focus-scale: 1;
  --navbar-padding: .5rem;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
}

[data-theme=corporate] {
  --p: 229 95.7% 63.9%;
  --pf: 229 95.7% 53.9%;
  --pc: 233 27.3% 12.9%;
  --s: 215 26.3% 59%;
  --sf: 214 26.1% 48.8%;
  --sc: 233 27.3% 12.9%;
  --a: 154 49% 60%;
  --af: 154 49% 50%;
  --ac: 233 27.3% 12.9%;
  --n: 233 27.3% 12.9%;
  --nf: 240 25% 3.1%;
  --nc: 210 38.5% 94.9%;
  --b1: 0 0% 100%;
  --b2: 210 60% 98%;
  --b3: 210 38.5% 94.9%;
  --bc: 233 27.3% 12.9%;
  --in: 207 89.8% 53.9%;
  --su: 174 100% 29%;
  --wa: 36 100% 50%;
  --er: 14 100% 57.1%;
  --border-color: var(--b3);
  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0;
  --animation-input: 0;
  --btn-text-case: uppercase;
  --btn-focus-scale: 1;
  --navbar-padding: .5rem;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
}

[data-theme=synthwave] {
  --p: 321 69.6% 69%;
  --pf: 321 70.3% 59%;
  --pc: 257 63.2% 17.1%;
  --sf: 197 87.4% 75.1%;
  --s: 197 86.6% 64.9%;
  --sc: 257 63.2% 17.1%;
  --af: 48 89.3% 67.1%;
  --a: 48 89% 57.1%;
  --ac: 257 63.2% 17.1%;
  --n: 253 60.8% 19%;
  --nf: 257 64.3% 11%;
  --nc: 260 60% 98%;
  --b1: 254 59.1% 25.9%;
  --b2: 253 60.8% 19%;
  --b3: 257 64.3% 11%;
  --bc: 260 60% 98%;
  --in: 199 87% 63.9%;
  --su: 168 74.2% 68%;
  --wa: 48 89% 57.1%;
  --er: 352 73.6% 56.9%;
  --border-color: var(--b3);
  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: .2s;
  --btn-text-case: uppercase;
  --btn-focus-scale: 0.95;
  --navbar-padding: .5rem;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
}

[data-theme=retro] {
  font-family: uisecondaryerif,Georgia,Cambria,Times New Roman,Times,serif;
  --p: 3 73.8% 76.1%;
  --pf: 3 73.6% 65.9%;
  --pc: 345 5.3% 14.9%;
  --s: 145 27.3% 72%;
  --sf: 145 26.8% 62%;
  --sc: 345 5.3% 14.9%;
  --a: 49 67.2% 76.1%;
  --af: 49 66.7% 65.9%;
  --ac: 345 5.3% 14.9%;
  --n: 42 16.8% 42%;
  --nf: 41 13.1% 23.9%;
  --nc: 45 47.1% 80%;
  --b1: 45 47.1% 80%;
  --b2: 45 37.1% 72%;
  --b3: 42 36% 65.1%;
  --bc: 345 5.3% 14.9%;
  --in: 207 89.8% 53.9%;
  --su: 174 100% 29%;
  --wa: 36 100% 50%;
  --er: 14 100% 57.1%;
  --border-color: var(--b3);
  --rounded-box: 0.4rem;
  --rounded-btn: 0.4rem;
  --rounded-badge: 0.4rem;
  --animation-btn: 0.25s;
  --animation-input: .2s;
  --btn-text-case: uppercase;
  --btn-focus-scale: 0.95;
  --navbar-padding: .5rem;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
}

[data-theme=cyberpunk] {
  font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
  --p: 345 100% 72.9%;
  --pf: 344 100% 67.1%;
  --pc: 0 0% 0%;
  --s: 195 80.4% 70%;
  --sf: 194 65.8% 61%;
  --sc: 0 0% 0%;
  --a: 276 74.3% 71%;
  --af: 276 75.7% 62.9%;
  --ac: 0 0% 0%;
  --n: 57 100% 12.9%;
  --nf: 60 80% 2%;
  --nc: 56 100% 50%;
  --b1: 56 100% 50%;
  --b2: 56 100% 42.9%;
  --b3: 56 100% 36.1%;
  --bc: 0 0% 0%;
  --in: 207 89.8% 53.9%;
  --su: 174 100% 29%;
  --wa: 36 100% 50%;
  --er: 14 100% 57.1%;
  --border-color: var(--b3);
  --rounded-box: 0;
  --rounded-btn: 0;
  --rounded-badge: 0;
  --animation-btn: 0.25s;
  --animation-input: .2s;
  --btn-text-case: uppercase;
  --btn-focus-scale: 0.95;
  --navbar-padding: .5rem;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0;
}

[data-theme=valentine] {
  --p: 353 73.8% 67.1%;
  --pf: 353 73.6% 56.9%;
  --pc: 0 0% 100%;
  --s: 254 86.4% 76.9%;
  --sf: 254 86.9% 67.1%;
  --sc: 0 0% 100%;
  --a: 181 55.6% 70%;
  --af: 181 54.9% 60%;
  --ac: 0 0% 100%;
  --n: 336 42.9% 48%;
  --nf: 340 40.2% 38%;
  --nc: 318 46.4% 89%;
  --b1: 318 46.4% 89%;
  --b2: 315 58.9% 79%;
  --b3: 316 62.3% 72.9%;
  --bc: 344 38.5% 28%;
  --in: 207 89.8% 53.9%;
  --su: 174 100% 29%;
  --wa: 36 100% 50%;
  --er: 14 100% 57.1%;
  --border-color: var(--b3);
  --rounded-box: 1rem;
  --rounded-btn: 1.9rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: .2s;
  --btn-text-case: uppercase;
  --btn-focus-scale: 0.95;
  --navbar-padding: .5rem;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
}

[data-theme=halloween] {
  --p: 32 89.3% 52.2%;
  --pf: 32 88.8% 42%;
  --pc: 180 7.3% 8%;
  --s: 271 45.8% 42%;
  --sf: 271 46% 32%;
  --sc: 0 0% 100%;
  --a: 91 100% 32.9%;
  --af: 91 100% 22.9%;
  --ac: 0 0% 100%;
  --n: 180 3.6% 11%;
  --nf: 180 7.3% 8%;
  --nc: 0 0% 100%;
  --b1: 0 0% 12.9%;
  --b2: 180 3.6% 11%;
  --b3: 180 7.3% 8%;
  --bc: 0 0% 100%;
  --in: 202 100% 70%;
  --su: 89 61.6% 52%;
  --wa: 54 68.8% 63.5%;
  --er: 0 100% 71.8%;
  --border-color: var(--b3);
  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: .2s;
  --btn-text-case: uppercase;
  --btn-focus-scale: 0.95;
  --navbar-padding: .5rem;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
}

[data-theme=garden] {
  --p: 139 16% 42.9%;
  --pf: 137 14.8% 33.1%;
  --pc: 0 0% 100%;
  --s: 97 37.1% 93.1%;
  --sf: 98 36.3% 82.2%;
  --sc: 96 32.5% 15.1%;
  --a: 0 67.7% 93.9%;
  --af: 0 71.1% 85.1%;
  --ac: 0 22% 16.1%;
  --n: 0 3.9% 35.1%;
  --nf: 0 3.7% 15.9%;
  --nc: 0 4.3% 91%;
  --b1: 0 4.3% 91%;
  --b2: 0 5.2% 81%;
  --b3: 0 5.4% 71%;
  --bc: 0 3.2% 6.1%;
  --in: 207 89.8% 53.9%;
  --su: 174 100% 29%;
  --wa: 36 100% 50%;
  --er: 14 100% 57.1%;
  --border-color: var(--b3);
  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: .2s;
  --btn-text-case: uppercase;
  --btn-focus-scale: 0.95;
  --navbar-padding: .5rem;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
}

[data-theme=forest] {
  --p: 141 72% 42%;
  --pf: 141 71.8% 32%;
  --pc: 0 0% 100%;
  --s: 141 74.7% 48%;
  --sf: 141 75.3% 38%;
  --sc: 0 0% 100%;
  --a: 35 69% 52%;
  --af: 35 69.2% 42%;
  --ac: 0 0% 100%;
  --n: 0 9.7% 6.1%;
  --nf: 0 20% 2%;
  --nc: 0 0% 100%;
  --b1: 0 12.2% 8%;
  --b2: 0 9.7% 6.1%;
  --b3: 0 20% 2%;
  --bc: 0 0% 100%;
  --rounded-btn: 0.5rem;
  --in: 202 100% 70%;
  --su: 89 61.6% 52%;
  --wa: 54 68.8% 63.5%;
  --er: 0 100% 71.8%;
  --border-color: var(--b3);
  --rounded-box: 1rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: .2s;
  --btn-text-case: uppercase;
  --btn-focus-scale: 0.95;
  --navbar-padding: .5rem;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
}

[data-theme=aqua] {
  --p: 189 100% 62.9%;
  --pf: 189 100% 52.9%;
  --pc: 0 0% 0%;
  --s: 274 30.9% 56.9%;
  --sf: 274 30.8% 47.1%;
  --sc: 0 0% 100%;
  --a: 47 100% 80%;
  --af: 47 100% 70%;
  --ac: 0 0% 100%;
  --n: 231 77.4% 32.9%;
  --nf: 231 67.6% 29%;
  --nc: 0 0% 100%;
  --b1: 231 88.7% 38%;
  --b2: 231 77.4% 32.9%;
  --b3: 231 67.6% 29%;
  --bc: 0 0% 100%;
  --in: 207 89.8% 53.9%;
  --su: 174 100% 29%;
  --wa: 36 100% 50%;
  --er: 14 100% 57.1%;
  --border-color: var(--b3);
  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: .2s;
  --btn-text-case: uppercase;
  --btn-focus-scale: 0.95;
  --navbar-padding: .5rem;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
}

[data-theme=lofi] {
  --p: 0 0% 50.2%;
  --pf: 0 0% 45.1%;
  --pc: 240 4% 95.1%;
  --s: 0 0% 30.2%;
  --sf: 0 0% 25.1%;
  --sc: 240 4% 95.1%;
  --a: 0 0% 10.2%;
  --af: 0 0% 5.1%;
  --ac: 240 4% 95.1%;
  --n: 240 4% 95.1%;
  --nf: 240 5.9% 90%;
  --nc: 0 0% 30.2%;
  --b1: 0 0% 100%;
  --b2: 0 0% 100%;
  --b3: 0 0% 100%;
  --bc: 0 0% 49%;
  --in: 207 89.8% 53.9%;
  --su: 174 100% 29%;
  --wa: 36 100% 50%;
  --er: 14 100% 57.1%;
  --border-color: #e6e6e6;
  --rounded-box: 0;
  --rounded-btn: 0;
  --rounded-badge: 0;
  --animation-btn: 0;
  --animation-input: 0;
  --btn-text-case: uppercase;
  --btn-focus-scale: 1;
  --navbar-padding: .5rem;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0;
}

[data-theme=lofi] *:where(.btn) {
  border-color: var(--border-color) !important;
  --tw-border-opacity: 1 !important;
  --tw-text-opacity: 1 !important;
  --tw-shadow: 0 0 0 1px var(--border-color) !important;
}

[data-theme=lofi] *:where(.card) {
  border-color: var(--border-color) !important;
  --tw-border-opacity: 1 !important;
  --tw-text-opacity: 1 !important;
  --tw-shadow: 0 0 0 1px var(--border-color) !important;
}

[data-theme=pastel] {
  --p: 284 21.6% 80%;
  --pf: 282 21.6% 70%;
  --pc: 0 0% 0%;
  --s: 352 70.5% 88%;
  --sf: 352 69.6% 78%;
  --sc: 0 0% 100%;
  --a: 158 54.6% 81%;
  --af: 158 55.4% 71%;
  --ac: 0 0% 100%;
  --n: 199 43.7% 61%;
  --nf: 199 44% 51%;
  --nc: 0 0% 100%;
  --b1: 0 0% 100%;
  --b2: 210 20% 98%;
  --b3: 216 12.2% 83.9%;
  --bc: 206 3.1% 55.1%;
  --in: 207 89.8% 53.9%;
  --su: 174 100% 29%;
  --wa: 36 100% 50%;
  --er: 14 100% 57.1%;
  --rounded-box: 1rem;
  --rounded-btn: 1.9rem;
  --rounded-badge: 1.9rem;
  --border-color: var(--b3);
  --animation-btn: 0.25s;
  --animation-input: .2s;
  --btn-text-case: uppercase;
  --btn-focus-scale: 0.95;
  --navbar-padding: .5rem;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
}

[data-theme=fantasy] {
  --p: 296 82.8% 25.1%;
  --pf: 296 81.8% 15.1%;
  --pc: 0 0% 100%;
  --s: 200 100% 37.1%;
  --sf: 200 100% 27.1%;
  --sc: 0 0% 100%;
  --a: 31 94.4% 51.2%;
  --af: 31 94.3% 41%;
  --ac: 0 0% 100%;
  --n: 215 27.9% 16.9%;
  --nf: 221 39.3% 11%;
  --nc: 0 0% 100%;
  --b1: 0 0% 100%;
  --b2: 210 20% 98%;
  --b3: 216 12.2% 83.9%;
  --bc: 215 27.9% 16.9%;
  --in: 207 89.8% 53.9%;
  --su: 174 100% 29%;
  --wa: 36 100% 50%;
  --er: 14 100% 57.1%;
  --border-color: var(--b3);
  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: .2s;
  --btn-text-case: uppercase;
  --btn-focus-scale: 0.95;
  --navbar-padding: .5rem;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
}

[data-theme=wireframe] {
  font-family: Chalkboard,comic sans ms,"sanssecondaryerif";
  --p: 0 0% 72.2%;
  --pf: 0 0% 72.2%;
  --pc: 0 0% 0%;
  --s: 0 0% 72.2%;
  --sf: 0 0% 72.2%;
  --sc: 0 0% 0%;
  --a: 0 0% 72.2%;
  --af: 0 0% 72.2%;
  --ac: 0 0% 0%;
  --b1: 0 0% 100%;
  --b2: 0 0% 93.3%;
  --b3: 0 0% 86.7%;
  --bc: 0 0% 0%;
  --n: 0 0% 92.2%;
  --nf: 0 0% 92.2%;
  --nc: 0 0% 0%;
  --in: 240 100% 50%;
  --su: 120 100% 25.1%;
  --wa: 60 30.2% 50%;
  --er: 0 100% 50%;
  --border-color: #000000;
  --rounded-box: 0.2rem;
  --rounded-btn: 0.2rem;
  --rounded-badge: 0.2rem;
  --animation-btn: 0.25s;
  --animation-input: .2s;
  --btn-text-case: uppercase;
  --btn-focus-scale: 0.95;
  --navbar-padding: .5rem;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.2rem;
}

[data-theme=wireframe] * {
  border-color: var(--border-color) !important;
  --tw-border-opacity: 1 !important;
  --tw-text-opacity: 1 !important;
  --tw-shadow: 0 0 0 1px var(--border-color) !important;
}

[data-theme=black] {
  --p: 0 0% 100%;
  --pf: 0 0% 100%;
  --pc: 0 0% 0%;
  --s: 0 0% 100%;
  --sf: 0 0% 100%;
  --sc: 0 0% 0%;
  --a: 0 0% 100%;
  --af: 0 0% 100%;
  --ac: 0 0% 0%;
  --b1: 0 0% 0%;
  --b2: 0 0% 20%;
  --b3: 0 0% 30.2%;
  --bc: 0 0% 100%;
  --n: 0 0% 20%;
  --nf: 0 0% 30.2%;
  --nc: 0 0% 100%;
  --in: 240 100% 50%;
  --su: 120 100% 25.1%;
  --wa: 60 100% 50%;
  --er: 0 100% 50%;
  --border-color: var(--b3);
  --rounded-box: 0;
  --rounded-btn: 0;
  --rounded-badge: 0;
  --animation-btn: 0;
  --animation-input: 0;
  --btn-text-case: lowercase;
  --btn-focus-scale: 1;
  --navbar-padding: .5rem;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0;
}

[data-theme=luxury] {
  --p: 0 0% 100%;
  --pf: 0 0% 90.2%;
  --pc: 0 0% 0%;
  --s: 218 54.3% 18%;
  --sf: 219 56.1% 8%;
  --sc: 0 0% 100%;
  --a: 319 21.8% 26.1%;
  --af: 320 22% 16.1%;
  --ac: 0 0% 100%;
  --n: 270 4.3% 9%;
  --nf: 270 2.2% 18%;
  --nc: 37 67.3% 58%;
  --b1: 240 10% 3.9%;
  --b2: 270 4.3% 9%;
  --b3: 270 2.2% 18%;
  --bc: 37 67.3% 58%;
  --in: 202 100% 70%;
  --su: 89 61.6% 52%;
  --wa: 54 68.8% 63.5%;
  --er: 0 100% 71.8%;
  --border-color: var(--b3);
  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: .2s;
  --btn-text-case: uppercase;
  --btn-focus-scale: 0.95;
  --navbar-padding: .5rem;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
}

[data-theme=dracula] {
  --p: 330 100% 85.1%;
  --pf: 330 100% 75.1%;
  --pc: 233 12.1% 12.9%;
  --s: 115 100% 85.1%;
  --sf: 115 100% 75.1%;
  --sc: 233 12.1% 12.9%;
  --a: 60 100% 85.1%;
  --af: 60 100% 75.1%;
  --ac: 233 12.1% 12.9%;
  --n: 245 14.3% 15.1%;
  --nf: 233 12.1% 12.9%;
  --nc: 251 100% 90%;
  --b1: 244 13% 21.2%;
  --b2: 245 14.3% 15.1%;
  --b3: 233 12.1% 12.9%;
  --bc: 251 100% 90%;
  --in: 207 89.8% 53.9%;
  --su: 174 100% 29%;
  --wa: 36 100% 50%;
  --er: 14 100% 57.1%;
  --border-color: var(--b3);
  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: .2s;
  --btn-text-case: uppercase;
  --btn-focus-scale: 0.95;
  --navbar-padding: .5rem;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
}

[data-theme=cmyk] {
  --p: 203 83.3% 60.2%;
  --pf: 203 65.1% 53.9%;
  --pc: 0 0% 0%;
  --s: 335 77.7% 59.6%;
  --sf: 335 59.2% 52.9%;
  --sc: 0 0% 0%;
  --a: 56 100% 59.8%;
  --af: 56 72.2% 52%;
  --ac: 0 0% 0%;
  --n: 0 0% 10.2%;
  --nf: 0 0% 0%;
  --nc: 0 0% 100%;
  --b1: 0 0% 100%;
  --b2: 0 0% 96.1%;
  --b3: 0 0% 92.2%;
  --bc: 0 0% 0%;
  --in: 192 48.4% 52.2%;
  --su: 291 48.5% 38%;
  --wa: 25 84.6% 56.7%;
  --er: 4 80.5% 55.7%;
  --border-color: var(--b3);
  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: .2s;
  --btn-text-case: uppercase;
  --btn-focus-scale: 0.95;
  --navbar-padding: .5rem;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
}

*, ::before, ::after {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.avatar {
  display: inline-flex;
  position: relative;
}

.avatar>div {
  display: block;
  overflow: hidden;
}

.avatar img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.avatar.placeholder>div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  border-color: transparent;
  border-color: hsla(var(--n) / var(--tw-border-opacity, 1));
  cursor: pointer;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, -webkit-transform;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, -webkit-transform;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  border-radius: var(--rounded-btn, .5rem);
  height: 3rem;
  font-size: .875rem;
  line-height: 1.25rem;
  line-height: 1em;
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  text-transform: var(--btn-text-case, uppercase);
  border-width: var(--border-btn, 1px);
  -webkit-animation: button-pop var(--animation-btn, .25s) ease-out;
  animation: button-pop var(--animation-btn, .25s) ease-out;
  --tw-bg-opacity: 1;
  background-color: hsla(var(--n) / var(--tw-bg-opacity, 1));
  --tw-border-opacity: 1;
  --tw-text-opacity: 1;
  color: hsla(var(--nc) / var(--tw-text-opacity, 1));
}

.btn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.btn-disabled,.btn[disabled] {
  pointer-events: none;
  --tw-bg-opacity: 0.2;
  background-color: hsla(var(--n) / var(--tw-bg-opacity, 1));
  --tw-border-opacity: 0;
  --tw-text-opacity: 0.2;
  color: hsla(var(--bc) / var(--tw-text-opacity, 1));
}

.btn.loading,.btn.loading:hover {
  pointer-events: none;
}

.btn.loading:before {
  border-radius: 9999px;
  border-width: 2px;
  height: 1rem;
  margin-right: .5rem;
  width: 1rem;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  content: "";
  border-color: transparent currentColor currentColor transparent;
}

@media (prefers-reduced-motion:reduce) {
  .btn.loading:before {
    -webkit-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

.btn-group>input[type=radio].btn {
  -webkit-appearance: none;
  appearance: none;
}

.btn-group>input[type=radio].btn:before {
  content: attr(data-title);
}

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  border-radius: var(--rounded-box, 1rem);
}

.card:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.card-body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: var(--padding-card, 2rem);
}

.card figure,.card figure>* {
  width: 100%;
}

.card.image-full {
  display: grid;
}

.card.image-full:before {
  position: relative;
  content: "";
  --tw-bg-opacity: 1;
  background-color: hsla(var(--n) / var(--tw-bg-opacity, 1));
  opacity: .75;
  z-index: 10;
  border-radius: var(--rounded-box, 1rem);
}

.card.image-full:before,.card.image-full>* {
  grid-column-start: 1;
  grid-row-start: 1;
}

.card.image-full>figure img {
  height: 100%;
  object-fit: cover;
}

.card.image-full>.card-body {
  position: relative;
  --tw-text-opacity: 1;
  color: hsla(var(--nc) / var(--tw-text-opacity, 1));
  z-index: 20;
}

.checkbox {
  flex-shrink: 0;
  --chkbg: var(--bc);
  --chkfg: var(--b1);
  -webkit-appearance: none;
  appearance: none;
  --tw-border-opacity: 0.2;
  border-color: hsla(var(--bc) / var(--tw-border-opacity, 1));
  border-width: 1px;
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: var(--rounded-btn, .5rem);
}

.checkbox:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown>:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.dropdown .dropdown-content {
  opacity: 0;
  position: absolute;
  visibility: hidden;
  z-index: 50;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: .95;
  --tw-scale-y: .95;
  -webkit-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
          transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  -webkit-transform-origin: top;
          transform-origin: top;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, -webkit-transform;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, -webkit-transform;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.dropdown-end .dropdown-content {
  right: 0;
}

.dropdown-left .dropdown-content {
  top: 0;
  bottom: auto;
  right: 100%;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.dropdown-right .dropdown-content {
  top: 0;
  bottom: auto;
  left: 100%;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.dropdown-top .dropdown-content {
  top: auto;
  bottom: 100%;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.dropdown-end.dropdown-right .dropdown-content {
  bottom: 0;
  top: auto;
}

.dropdown-end.dropdown-left .dropdown-content {
  bottom: 0;
  top: auto;
}

.dropdown.dropdown-hover:hover .dropdown-content,.dropdown.dropdown-open .dropdown-content,.dropdown:not(.dropdown-hover):focus-within .dropdown-content,.dropdown:not(.dropdown-hover):focus .dropdown-content {
  opacity: 1;
  visibility: visible;
}

.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .5rem .25rem;
}

.input {
  flex-shrink: 1;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, -webkit-transform;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, -webkit-transform;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  height: 3rem;
  font-size: .875rem;
  line-height: 1.25rem;
  line-height: 2;
  padding-left: 1rem;
  padding-right: 1rem;
  --tw-bg-opacity: 1;
  background-color: hsla(var(--b1) / var(--tw-bg-opacity, 1));
  --tw-border-opacity: 0;
  border-color: hsla(var(--bc) / var(--tw-border-opacity, 1));
  border-width: 1px;
  border-radius: var(--rounded-btn, .5rem);
}

.input:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsla(var(--bc) / .2);
}

.input-group>*,.input-group>.input {
  border-radius: 0;
}

.mask {
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

.menu {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.menu.horizontal {
  display: inline-flex;
  flex-direction: row;
}

.menu.horizontal :where(li) {
  flex-direction: row;
}

.menu :where(li) {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.menu :where(li)>a,.menu :where(li)>button,.menu :where(li)>span {
  display: flex;
  align-items: center;
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, -webkit-transform;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, -webkit-transform;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.menu :where(li)>a {
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu :where(li)>a:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.menu :where(li).disabled>a,.menu :where(li).disabled>button,.menu :where(li).disabled>span {
  cursor: auto;
}

.modal {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  z-index: 999;
  --tw-bg-opacity: 0.4;
  background-color: hsla(var(--nf) / var(--tw-bg-opacity, 1));
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, -webkit-transform;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, -webkit-transform;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  overflow-y: hidden;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
}

@media (min-width:640px) {
  .modal {
    align-items: center;
  }

  .modal-box {
    max-width: 32rem;
    --tw-scale-x: .9;
    --tw-scale-y: .9;
    --tw-translate-y: 0px;
    border-bottom-left-radius: var(--rounded-box, 1rem);
    border-bottom-right-radius: var(--rounded-box, 1rem);
  }
}

.modal-box {
  max-height: calc(100vh - 5em);
  --tw-bg-opacity: 1;
  background-color: hsla(var(--b1) / var(--tw-bg-opacity, 1));
  padding: 1.5rem;
  width: 100%;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-translate-y: 2.5rem;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  -webkit-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
          transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, -webkit-transform;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, -webkit-transform;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  border-top-left-radius: var(--rounded-box, 1rem);
  border-top-right-radius: var(--rounded-box, 1rem);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, .25);
  overflow-y: auto;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
}

.modal-open,.modal-toggle:checked+.modal,.modal:target {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal-action {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

.modal-toggle {
  -webkit-appearance: none;
  appearance: none;
  height: 0;
  opacity: 0;
  position: fixed;
  width: 0;
}

.steps {
  counter-reset: step;
  grid-auto-columns: 1fr;
  display: inline-grid;
  overflow: hidden;
  overflow-x: auto;
  grid-auto-flow: column;
}

.steps [class~=step] {
  display: grid;
  place-items: center;
  text-align: center;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-columns: auto;
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-template-rows: 40px 1fr;
  min-width: 4rem;
}

.avatar-group :where(.avatar) {
  --tw-border-opacity: 1;
  border-color: hsla(var(--b1) / var(--tw-border-opacity, 1));
  border-radius: 9999px;
  border-width: 4px;
  overflow: hidden;
}

.btn .badge {
  --tw-bg-opacity: 1;
  background-color: hsla(var(--b1) / var(--tw-bg-opacity, 1));
  border-color: transparent;
  --tw-text-opacity: 1;
  color: hsla(var(--bc) / var(--tw-text-opacity, 1));
}

.btn .badge-outline {
  background-color: transparent;
  --tw-border-opacity: 1;
  border-color: hsla(var(--b2) / var(--tw-border-opacity, 1));
  --tw-text-opacity: 1;
  color: hsla(var(--b2) / var(--tw-text-opacity, 1));
}

.btn:active:focus,.btn:active:hover {
  -webkit-animation: none;
  animation: none;
  -webkit-transform: scale( var(--btn-focus-scale, .95) );
          transform: scale( var(--btn-focus-scale, .95) );
}

.btn-active,.btn:hover {
  --tw-bg-opacity: 1;
  background-color: hsla(var(--nf) / var(--tw-bg-opacity, 1));
  --tw-border-opacity: 1;
  border-color: hsla(var(--nf) / var(--tw-border-opacity, 1));
}

.btn:focus-visible {
  box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--nf));
}

.btn.glass.btn-active,.btn.glass:hover {
  --glass-opacity: 25%;
  --glass-border-opacity: 15%;
}

.btn.glass:focus-visible {
  box-shadow: 0 0 0 2px currentColor;
}

.btn.loading.btn-circle:before,.btn.loading.btn-square:before {
  margin-right: 0;
}

.btn.loading.btn-lg:before,.btn.loading.btn-xl:before {
  height: 1.25rem;
  width: 1.25rem;
}

.btn.loading.btn-sm:before,.btn.loading.btn-xs:before {
  height: .75rem;
  width: .75rem;
}

.btn-group>.btn-active,.btn-group>input[type=radio]:checked.btn {
  --tw-bg-opacity: 1;
  background-color: hsla(var(--p) / var(--tw-bg-opacity, 1));
  --tw-border-opacity: 1;
  border-color: hsla(var(--p) / var(--tw-border-opacity, 1));
  --tw-text-opacity: 1;
  color: hsla(var(--pc) / var(--tw-text-opacity, 1));
}

.btn-group>.btn-active:focus-visible,.btn-group>input[type=radio]:checked.btn:focus-visible {
  box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--p));
}

.btn-group>.btn:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}

.btn-group>.btn:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@-webkit-keyframes button-pop {
  0% {
    -webkit-transform: scale( var(--btn-focus-scale, .95) );
            transform: scale( var(--btn-focus-scale, .95) );
  }

  40% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }

  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes button-pop {
  0% {
    -webkit-transform: scale( var(--btn-focus-scale, .95) );
            transform: scale( var(--btn-focus-scale, .95) );
  }

  40% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }

  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.card:focus-visible {
  box-shadow: 0 0 0 2px currentColor;
}

.card.bordered {
  --tw-border-opacity: 1;
  border-color: hsla(var(--b2) / var(--tw-border-opacity, 1));
  border-width: 1px;
}

.card.compact .card-body {
  font-size: .875rem;
  line-height: 1.25rem;
  padding: 1rem;
}

.card.compact .card-title {
  margin-bottom: .25rem;
}

.card-title {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: .75rem;
}

.checkbox:focus-visible {
  box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--bc));
}

.checkbox:checked,.checkbox[checked=true] {
  --tw-bg-opacity: 1;
  background-color: hsla(var(--bc) / var(--tw-bg-opacity, 1));
  background-repeat: no-repeat;
  -webkit-animation: checkmark var(--animation-input, .2s)  ease-in-out;
  animation: checkmark var(--animation-input, .2s)  ease-in-out;
  background-image: linear-gradient(-45deg, transparent 65%, hsl(var(--chkbg)) 0), linear-gradient(45deg, transparent 75%, hsl(var(--chkbg)) 0), linear-gradient(-45deg, hsl(var(--chkbg)) 40%, transparent 0), linear-gradient(45deg, hsl(var(--chkbg)) 30%, hsl(var(--chkfg)) 0, hsl(var(--chkfg)) 40%, transparent 0), linear-gradient(-45deg, hsl(var(--chkfg)) 50%, hsl(var(--chkbg)) 0);
}

.checkbox:indeterminate {
  --tw-bg-opacity: 1;
  background-color: hsla(var(--bc) / var(--tw-bg-opacity, 1));
  background-repeat: no-repeat;
  -webkit-animation: checkmark var(--animation-input, .2s)  ease-in-out;
  animation: checkmark var(--animation-input, .2s)  ease-in-out;
  background-image: linear-gradient(90deg, transparent 80%, hsl(var(--chkbg)) 0), linear-gradient(-90deg, transparent 80%, hsl(var(--chkbg)) 0), linear-gradient(0deg, hsl(var(--chkbg)) 43%, hsl(var(--chkfg)) 0, hsl(var(--chkfg)) 57%, hsl(var(--chkbg)) 0);
}

.checkbox:disabled {
  --tw-bg-opacity: 1;
  background-color: hsla(var(--bc) / var(--tw-bg-opacity, 1));
  border-color: transparent;
  cursor: not-allowed;
  opacity: .2;
}

@-webkit-keyframes checkmark {
  0% {
    background-position-y: 5px;
  }

  50% {
    background-position-y: -2px;
  }

  to {
    background-position-y: 0;
  }
}

@keyframes checkmark {
  0% {
    background-position-y: 5px;
  }

  50% {
    background-position-y: -2px;
  }

  to {
    background-position-y: 0;
  }
}

.dropdown.dropdown-hover:hover .dropdown-content,.dropdown.dropdown-open .dropdown-content,.dropdown:focus-within .dropdown-content,.dropdown:focus .dropdown-content {
  --tw-scale-x: 1;
  --tw-scale-y: 1;
}

.label a:hover {
  --tw-text-opacity: 1;
  color: hsla(var(--bc) / var(--tw-text-opacity, 1));
}

.input-disabled,.input[disabled] {
  --tw-bg-opacity: 1;
  background-color: hsla(var(--b2) / var(--tw-bg-opacity, 1));
  --tw-border-opacity: 1;
  border-color: hsla(var(--b2) / var(--tw-border-opacity, 1));
  cursor: not-allowed;
  --tw-text-opacity: 0.2;
}

.input-disabled:-ms-input-placeholder,.input[disabled]:-ms-input-placeholder {
  --tw-placeholder-opacity: 0.2;
  color: hsla(var(--bc) / var(--tw-placeholder-opacity, 1));
}

.input-disabled::-webkit-input-placeholder, .input[disabled]::-webkit-input-placeholder {
  --tw-placeholder-opacity: 0.2;
  color: hsla(var(--bc) / var(--tw-placeholder-opacity, 1));
}

.input-disabled:-ms-input-placeholder, .input[disabled]:-ms-input-placeholder {
  --tw-placeholder-opacity: 0.2;
  color: hsla(var(--bc) / var(--tw-placeholder-opacity, 1));
}

.input-disabled::placeholder,.input[disabled]::placeholder {
  --tw-placeholder-opacity: 0.2;
  color: hsla(var(--bc) / var(--tw-placeholder-opacity, 1));
}

.mask-squircle {
  -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTAwIDBDMjAgMCAwIDIwIDAgMTAwczIwIDEwMCAxMDAgMTAwIDEwMC0yMCAxMDAtMTAwUzE4MCAwIDEwMCAweiIvPjwvc3ZnPg==);
  mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTAwIDBDMjAgMCAwIDIwIDAgMTAwczIwIDEwMCAxMDAgMTAwIDEwMC0yMCAxMDAtMTAwUzE4MCAwIDEwMCAweiIvPjwvc3ZnPg==);
}

.menu.horizontal li.bordered>a,.menu.horizontal li.bordered>button,.menu.horizontal li.bordered>span {
  --tw-border-opacity: 1;
  border-color: hsla(var(--p) / var(--tw-border-opacity, 1));
  border-left-width: 0;
  border-bottom-width: 4px;
}

.menu[class*=p-] li a {
  border-radius: var(--rounded-btn, .5rem);
}

.menu :where(li.bordered>a),.menu :where(li.bordered>button),.menu :where(li.bordered>span) {
  --tw-border-opacity: 1;
  border-color: hsla(var(--p) / var(--tw-border-opacity, 1));
  border-left-width: 4px;
}

.menu li>:where(a),.menu li>:where(button),.menu li>:where(span) {
  padding: .75rem 1.25rem;
  color: currentColor;
}

.menu li>:where(a:focus),.menu li>:where(a:hover),.menu li>:where(button:focus),.menu li>:where(button:hover) {
  --tw-bg-opacity: 0.1;
  background-color: hsla(var(--bc) / var(--tw-bg-opacity, 1));
}

.menu li>:where(a.active),.menu li>:where(button.active) {
  --tw-bg-opacity: 1;
  background-color: hsla(var(--p) / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: hsla(var(--pc) / var(--tw-text-opacity, 1));
}

.menu li>:where(a:active),.menu li>:where(button:active) {
  --tw-bg-opacity: 1;
  background-color: hsla(var(--pf) / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: hsla(var(--pc) / var(--tw-text-opacity, 1));
}

.menu li.disabled>a:hover,.menu li.disabled>button:hover,.menu li.disabled>span:hover {
  background-color: transparent;
}

.menu li.disabled>a,.menu li.disabled>button,.menu li.disabled>span {
  --tw-text-opacity: 0.2;
  color: hsla(var(--bc) / var(--tw-text-opacity, 1));
}

.menu li.hover-bordered a {
  border-color: transparent;
  border-left-width: 4px;
}

.menu li.hover-bordered a:hover {
  --tw-border-opacity: 1;
  border-color: hsla(var(--p) / var(--tw-border-opacity, 1));
}

.menu ul {
  padding-left: 1.5rem;
}

.menu.compact li>a,.menu.compact li>span {
  font-size: .875rem;
  line-height: 1.25rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.menu .menu-title>a,.menu .menu-title>span {
  font-weight: 700;
  font-size: .75rem;
  line-height: 1rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  --tw-text-opacity: 0.4;
  color: hsla(var(--bc) / var(--tw-text-opacity, 1));
}

.modal-open .modal-box,.modal-toggle:checked+.modal .modal-box,.modal:target .modal-box {
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-translate-y: 0px;
}

.modal-action>:not([hidden])~:not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem*var(--tw-space-x-reverse));
  margin-left: calc(0.5rem*(1 - var(--tw-space-x-reverse)));
}

@-webkit-keyframes radiomark {
  0% {
    box-shadow: 0 0 0 12px hsl(var(--b1)) inset, 0 0 0 12px hsl(var(--b1)) inset, var(--focus-shadow);
  }

  50% {
    box-shadow: 0 0 0 3px hsl(var(--b1)) inset, 0 0 0 3px hsl(var(--b1)) inset, var(--focus-shadow);
  }

  to {
    box-shadow: 0 0 0 4px hsl(var(--b1)) inset, 0 0 0 4px hsl(var(--b1)) inset, var(--focus-shadow);
  }
}

@keyframes radiomark {
  0% {
    box-shadow: 0 0 0 12px hsl(var(--b1)) inset, 0 0 0 12px hsl(var(--b1)) inset, var(--focus-shadow);
  }

  50% {
    box-shadow: 0 0 0 3px hsl(var(--b1)) inset, 0 0 0 3px hsl(var(--b1)) inset, var(--focus-shadow);
  }

  to {
    box-shadow: 0 0 0 4px hsl(var(--b1)) inset, 0 0 0 4px hsl(var(--b1)) inset, var(--focus-shadow);
  }
}

@-webkit-keyframes rating-pop {
  0% {
    -webkit-transform: translateY(-.125em);
            transform: translateY(-.125em);
  }

  40% {
    -webkit-transform: translateY(-.125em);
            transform: translateY(-.125em);
  }

  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes rating-pop {
  0% {
    -webkit-transform: translateY(-.125em);
            transform: translateY(-.125em);
  }

  40% {
    -webkit-transform: translateY(-.125em);
            transform: translateY(-.125em);
  }

  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.steps [class~=step]:before {
  --tw-bg-opacity: 1;
  background-color: hsla(var(--b3) / var(--tw-bg-opacity, 1));
  height: .5rem;
  top: 0;
  --tw-text-opacity: 1;
  color: hsla(var(--bc) / var(--tw-text-opacity, 1));
  width: 100%;
  grid-column-start: 1;
  grid-row-start: 1;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  -webkit-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
          transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  content: "";
  margin-left: -100%;
}

.steps [class~=step]:after {
  content: counter(step);
  counter-increment: step;
  z-index: 1;
  --tw-bg-opacity: 1;
  background-color: hsla(var(--b3) / var(--tw-bg-opacity, 1));
  border-radius: 9999px;
  display: grid;
  place-items: center;
  place-self: center;
  height: 2rem;
  position: relative;
  --tw-text-opacity: 1;
  color: hsla(var(--bc) / var(--tw-text-opacity, 1));
  width: 2rem;
  grid-column-start: 1;
  grid-row-start: 1;
}

.steps [class~=step]:first-child:before {
  content: none;
}

.steps [class~=step][data-content]:after {
  content: attr(data-content);
}

.steps .step-neutral+.step-neutral:before,.steps .step-neutral:after {
  --tw-bg-opacity: 1;
  background-color: hsla(var(--n) / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: hsla(var(--nc) / var(--tw-text-opacity, 1));
}

.steps .step-primary+.step-primary:before,.steps .step-primary:after {
  --tw-bg-opacity: 1;
  background-color: hsla(var(--p) / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: hsla(var(--pc) / var(--tw-text-opacity, 1));
}

.steps .step-secondary+.step-secondary:before,.steps .step-secondary:after {
  --tw-bg-opacity: 1;
  background-color: hsla(var(--s) / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: hsla(var(--sc) / var(--tw-text-opacity, 1));
}

.steps .step-accent+.step-accent:before,.steps .step-accent:after {
  --tw-bg-opacity: 1;
  background-color: hsla(var(--a) / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: hsla(var(--ac) / var(--tw-text-opacity, 1));
}

.steps .step-info+.step-info:before {
  --tw-bg-opacity: 1;
  background-color: hsla(var(--in) / var(--tw-bg-opacity, 1));
}

.steps .step-info:after {
  --tw-bg-opacity: 1;
  background-color: hsla(var(--in) / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: hsla(var(--b1) / var(--tw-text-opacity, 1));
}

.steps .step-success+.step-success:before {
  --tw-bg-opacity: 1;
  background-color: hsla(var(--su) / var(--tw-bg-opacity, 1));
}

.steps .step-success:after {
  --tw-bg-opacity: 1;
  background-color: hsla(var(--su) / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: hsla(var(--b1) / var(--tw-text-opacity, 1));
}

.steps .step-warning+.step-warning:before {
  --tw-bg-opacity: 1;
  background-color: hsla(var(--wa) / var(--tw-bg-opacity, 1));
}

.steps .step-warning:after {
  --tw-bg-opacity: 1;
  background-color: hsla(var(--wa) / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: hsla(var(--b1) / var(--tw-text-opacity, 1));
}

.steps .step-error+.step-error:before {
  --tw-bg-opacity: 1;
  background-color: hsla(var(--er) / var(--tw-bg-opacity, 1));
}

.steps .step-error:after {
  --tw-bg-opacity: 1;
  background-color: hsla(var(--er) / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: hsla(var(--b1) / var(--tw-text-opacity, 1));
}

.rounded-box {
  border-radius: var(--rounded-box, 1rem);
}

.steps-vertical {
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
}

.steps-vertical [class~=step] {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
}

.avatar.online:before {
  content: "";
  --tw-bg-opacity: 1;
  background-color: hsla(var(--su) / var(--tw-bg-opacity, 1));
  border-radius: 9999px;
  display: block;
  position: absolute;
  z-index: 10;
  width: 15%;
  height: 15%;
  top: 7%;
  right: 7%;
  box-shadow: 0 0 0 2px hsl(var(--b1));
}

.avatar.offline:before {
  content: "";
  --tw-bg-opacity: 1;
  background-color: hsla(var(--b3) / var(--tw-bg-opacity, 1));
  border-radius: 9999px;
  display: block;
  position: absolute;
  z-index: 10;
  width: 15%;
  height: 15%;
  top: 7%;
  right: 7%;
  box-shadow: 0 0 0 2px hsl(var(--b1));
}

.steps-vertical [class~=step] {
  gap: .5rem;
  grid-template-columns: 40px 1fr;
  grid-template-rows: auto;
  min-height: 4rem;
  justify-items: start;
}

.steps-vertical [class~=step]:before {
  height: 100%;
  width: .5rem;
  --tw-translate-x: -50%;
  --tw-translate-y: -50%;
  margin-left: 50%;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.m-1 {
  margin: 0.25rem;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.h-14 {
  height: 3.5rem;
}

.h-96 {
  height: 24rem;
}

.w-14 {
  width: 3.5rem;
}

.w-80 {
  width: 20rem;
}

.w-full {
  width: 100%;
}

.list-disc {
  list-style-type: disc;
}

.columns-1 {
  -webkit-columns: 1;
          columns: 1;
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.items-center {
  align-items: center;
}

.justify-items-center {
  justify-items: center;
}

.overscroll-auto {
  -ms-scroll-chaining: chained;
      overscroll-behavior: auto;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-full {
  border-radius: 9999px;
}

.bg-base-100 {
  --tw-bg-opacity: 1;
  background-color: hsla(var(--b1) / var(--tw-bg-opacity));
}

.p-4 {
  padding: 1rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-2 {
  padding: 0.5rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.text-center {
  text-align: center;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.font-bold {
  font-weight: 700;
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media (min-width: 640px) {
  .sm\:h-96 {
    height: 24rem;
  }

  .sm\:w-full {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .md\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .md\:col-span-5 {
    grid-column: span 5 / span 5;
  }

  .md\:h-full {
    height: 100%;
  }

  .md\:w-60 {
    width: 15rem;
  }

  .md\:grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .lg\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .lg\:col-span-5 {
    grid-column: span 5 / span 5;
  }

  .lg\:h-screen {
    height: 100vh;
  }

  .lg\:w-60 {
    width: 15rem;
  }

  .lg\:grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }

  .lg\:text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

@media (min-width: 1280px) {
  .xl\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .xl\:col-span-5 {
    grid-column: span 5 / span 5;
  }

  .xl\:h-screen {
    height: 100vh;
  }

  .xl\:w-60 {
    width: 15rem;
  }

  .xl\:grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }

  .xl\:text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

@media (min-width: 1536px) {
  .\32xl\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .\32xl\:col-span-5 {
    grid-column: span 5 / span 5;
  }

  .\32xl\:h-screen {
    height: 100vh;
  }

  .\32xl\:w-60 {
    width: 15rem;
  }

  .\32xl\:grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }

  .\32xl\:text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}